    body {
        margin: 0;
        background-image: url('pxg\ \(1\).jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-attachment: fixed;
        overflow: hidden;
        height: 100vh;
    }

    .trioa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 64px;
        padding: 2px;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #002858;
        border: 3px solid   #000;
        order: 1;
        color: #000;
        font-size: 25px;
    }

        .triob {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 64px;
        padding: 2px;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #FFFFFF; color: #000;
        border-top: 3px solid   #000;
        border-bottom: 3px  solid   #000;
        border-left: none;
        border-right: none;
        order: 2;
        font-size: 25px;
    }

        .trioc {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 64px;
        padding: 2px;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #E1000F; color: #000;
        border: 3px solid   #000;
        order: 3;
        font-size: 25px;
    }   

    h1 {
        font-family: "dancing script", cursive;
        color:  #000;
        text-align: center;
        font-size: 50px;
    }

    .espaco {
        align-items: center;
        display: flex;       
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        height: 90vh;
        gap: 0;
    }


